# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

if SHIELD_DVORAK_LEFT

config ZMK_KEYBOARD_NAME
    default "DVORAK"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DVORAK_LEFT || SHIELD_DVORAK_RIGHT

config ZMK_SPLIT
    default y

config ZMK_RGB_UNDERGLOW
    default y
    select SPI
    select WS2812_STRIP

endif
